@import "tailwindcss";

body{
  background-color: rgb(19, 19, 19);
  color: white;
}

.font-caesar{
  font-family: var(--font-caesar);
}

.font-lato{
  font-family: var(--font-lato);
}


#canvas{
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
  height: 100svh;
  width: 100%;
  overflow: hidden;
}